*.png
!noise evaluation.png
*.avi
*.svg
*.npy
*.exr
*.h5
!*_best_weights.h5
*.v2
*.pyc
**/__pycache__/**
**/.VSCodeCounter/**
.fuse*
**/net_state/**
**/results/**
**/tensorboard_logs/**
**/datasets/fixed_camera_full
**/datasets/fixed_camera_full_add_layer_*
**/point_clouds/**
